<include file="Public:header"/>
<div class="row-fluid">
	<div class="span12">
		<div id="top-alert" class="fixed alert alert-error" style="display: none;">
			<button class="close fixed" style="margin-top: 4px;">&times;</button>
			<div class="alert-content">警告内容</div>
		</div>
		<div id="main" class="main">
			<div class="portlet box light-grey">
				<div class="portlet-title">
					<div class="caption"><i class="icon-globe"></i>管理员日志管理</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="clearfix">
						<div class="btn-group">
							<button id="sample_editable_1_new" class="btn red ajax-post confirm btn-danger" url="{:U('Admin/User/AdminLogStatus',array('type'=>'del'))}" target-form="ids">
							删除&nbsp;&nbsp;<i class="icon-trash"></i>
							</button>
						</div>
						<!--执行搜索功能-->
						<div class="btn-group pull-right">
							<form name="formSearch" id="formSearch" method="get" class="btn-group pull-right">
								<div class="btn-group pull-right" id="sample_1_filter">
									<select style="width: 160px; height:34px;float: left; margin-right: 10px;" name="status" class="form-control">
										<option value=""
										<empty name="Think.get.status">selected</empty>
										>全部状态</option>
										<option value="1"
										<eq name="Think.get.status" value="1">selected</eq>
										>异常状态</option>
										<option value="2"
										<eq name="Think.get.status" value="2">selected</eq>
										>正常状态</option>
									</select>
									<select style=" width: 160px; height:34px; float: left; margin-right: 10px;" name="field" class="form-control">
										<option value="username"
										<empty name="Think.get.field" value="username">selected</empty>
										>用户名</option>
										<option value="loginip"
										<empty name="Think.get.field" value="loginip">selected</empty>
										>登录IP</option>
										<option value="id"
										<eq name="Think.get.field" value="id">selected</eq>
										>日志ID</option>
									</select>
									<input type="text"  class="m-wrap medium  search-input form-control" name="name" placeholder="请输入查询的内容" value="{$Think.get.name}" />
									<a href="javascript:;" id="search" style="margin-right:10px;">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-xs  btn-purple">
												<span class="ace-icon fa fa-search icon-on-right bigger-110">
												</span>
												<i class="icon-search"></i>&nbsp;搜索
											</button>
										</span>
									</a>
									<a href="{:U('Admin/User/AdminLog')}">
										<button type="button" class="btn btn-xs  btn-purple">
										<span class="ace-icon fa fa-globe icon-on-right bigger-110">
										</span>
										<i class="icon-chevron-down"></i>&nbsp;显示全部
										</button>
									</a>
								</div>
							</form>
							<script type="text/javascript">
								//执行搜索的功能
								$(function () {
									$('#search').click(function () {
										$('#formSearch').submit();
									});
								});
								//回车搜索
								$(".search-input").keyup(function (e) {
									if (e.keyCode === 13) {
										$("#search").click();
										return false;
									}
								});
							</script>
						</div>	
						<!---搜索功能结束---->
					</div>
					<table class="table table-striped table-bordered table-hover" id="sample_1">
						<thead>
							<tr>
								<th class="row-selected row-selected">
									<input class="check-all" type="checkbox"/>
								</th>
								<th>ID</th>
								<th>用户名&nbsp;/&nbsp;昵称</th>
								<th class="hidden-480">登录IP</th>
								<th class="hidden-480">登录时间</th>
								<th class="hidden-480">状态</th>
							</tr>
						</thead>
						<tbody>
							<notempty name="list">
								<volist name="list" id="vo">
									<tr class="odd gradeX">
										<td>
											<input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/>
										</td>
										<td>{$vo.id}</td>
										<td>{$vo.uid}&nbsp;&nbsp;/&nbsp;&nbsp;{$vo.title}</td>
										<td>
											<a href="#" style="text-decoration:none;">{$vo.loginip}</a>
										</td>
										<td class="hidden-480">{$vo.logintime|addtime}</td>
										<td >
											<eq name="vo.status" value="0"><span class="label label-danger"><i class="icon-lock"></i>&nbsp;异常</span></eq>
											<eq name="vo.status" value="1"><span class="label label-success"><i class="icon-unlock"></i>&nbsp;正常</span></eq>
										</td>
									</tr>
								</volist>
							<else/>
								<td colspan="12" class="text-center" style="text-align:center;color:red;">Oh! 暂时还没有内容!</td>
							</notempty>
						</tbody>
					</table>
					<div class="page">
						<div>{$page}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer"/>